*, *:before, *:after {
    box-sizing: inherit;
  }
h2 {
    text-align: center;
}
#grid {
    margin: auto;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    padding: 0px;
}

#menu {
    margin: auto;
    display: flex;
    justify-content: center;
}
.row {
    margin: 0px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
